<%- include('partials/header', { title: 'DB 4 LOL' }) %>
    <main>
        <h1 class="sub-title">DB 4 LOL</h1>
        <button type="button" class="center-btn" onclick="window.location.href='/build'">New Build</button>
        <h1></h1>
    </main>
<%- include('partials/footer') %>