<%- include('partials/header', { title: 'Stat' }) %>
<form class="summoner-search" action="/stat" method="POST">
    <input type="text" name="gameName" autocomplete="off" placeholder="Summoner Name" required>
    <input type="text" name="tagline" autocomplete="off" placeholder="Tagline" required>
    <button type="submit">Search</button>
</form>
<h2>Select a Champion</h2>
    <div class="champ-grid">
            <h1></h1>
    </div>
<script>
    
</script>
<%- include('partials/footer') %>